@import "normalize.css";

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  overflow: scroll;
}

body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section {
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid #FFF;
}

.section1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bar > a {
  padding-left: 25px;
}

.section2, .section3, .section4 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iphone-demo {
  flex-grow: 1;
  align-self: stretch;
  flex-basis: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,0,0,0.3);
}

.feature-description {
  flex-grow: 1;
  align-self: stretch;
  flex-basis: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,255,0,0.3);
}

.feature-description > p {
  padding: 0 100px;
}